
{% if page.collection == "editions" %}
<title>{{page.title | markdownify | strip_html}} (PDF Sheet Music)</title>
{% else %}
<title>{{page.title | markdownify | strip_html}}</title>
{% endif %}


<link rel="icon" href="{{ '/favicon.svg' | relative_url }}">
<meta name="theme-color" content="#f8f8f8">
{% if page.collection == "editions" %}
    {% if page.image.thumbnail %}
        <meta name="thumbnail" content="{{ page.image.thumbnail | absolute_url }}" />
    {% elsif page.image.path %}
        <meta name="thumbnail" content="{{ page.image.path | absolute_url }}" />
    {% elsif page.image %}
        <meta name="thumbnail" content="{{ page.image | absolute_url }}" />
    {% endif %}
{% endif %}


{% if page.description %}
    <meta name="twitter:description" content="{{ page.description | markdownify | strip_html | normalize_whitespace }}" />
{% elsif page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt | markdownify | strip_html | normalize_whitespace }}" />
{% endif %}

<script>
    window.goatcounter = {}
</script>
{% if site.goatcounter_analytics.allow_local %}
<script>
    window.goatcounter.allow_local = true
</script>
{% endif %}

<script data-goatcounter="https://{{site.goatcounter_analytics.code}}.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>