<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="logo-image" class="footer-col">
          <img src="{{ '/favicon.svg' | relative_url }}" width="125" height="125" alt="Site logo, a cropped treble clef.">
      </div>
      <div class="footer-col">
        <p>
          <a class="site-title" href="{{ '/' | relative_url }}" data-goatcounter-click="footer-site-title" data-goatcounter-referrer="{{page.name}}">{{ site.header_title | escape }}</a>
        </p>
        <p>{{ site.subtitle | escape }}</p>
        <div class="trigger">
          <a class="page-link" href="{{ '/' | relative_url }}" data-goatcounter-click="footer-home" data-goatcounter-referrer="{{page.name}}">Home</a>
          <span> | </span>
          {%- for anchor in header_anchors -%}
            <a class="page-link" href="{{ '/' | relative_url}}#{{anchor.id}}" data-goatcounter-click="footer-{{anchor.id}}" data-goatcounter-referrer="{{page.name}}">{{ anchor.title | escape }}</a>
            <span> | </span>
          {%- endfor -%}
          <a href="{{ site.github.repository_url }}" data-goatcounter-click="footer-src-github" data-goatcounter-referrer="{{page.name}}">Website source</a>
        </div>
      </div>


      <div class="footer-col">

        <div class="social-links">
          {%- include social.html -%}
        </div>

      </div>
    </div>


  </div>

</footer>
