// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-title::before {
    background-image: url($baseurl + "/favicon.svg");
    background-size: 100% 100%;
    background-position: CENTER LEFT;
    background-repeat: NO-REPEAT;
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    width: 32px;
    height: 32px;
    margin-right: $spacing-unit/2;
}

.site-title, .site-title:visited {
    color: $brand-color-dark;
}

h1 {
    font-weight: 300;
}

table {
    border: unset;

    a:link {
        text-decoration: underline;
    }
}


.edition-card-content {
    background-color: $edition-card-background-color;
    padding: 16px;
    border-radius: 16px;
}

.edition-card-img {
    background-color: white;
    padding: 8px;
    border-radius: 0px;
    max-width: 400px;
    margin-bottom: 4px;
}

.youtube-preview-content {
    background-color: $brand-color-light;
    padding: 1px;
    width:fit-content;
    border-radius: 0px;

}

tbody td:nth-child(1) {
    color: $table-first-col-color;
    background-color: $table-first-col-bg-color;
}

img {
    height: auto
}

.home img {
    border-radius: 0px;
}

div.summary-caption {
    text-align: right;
    font-style: italic;
    color: $brand-color-dark
}




div.logo-image {
    margin: 8px;
    padding: unset;
}

.footer-col {
    margin: 8px;
    &:first-child {
        width:max-content;

    }

    width: fit-content;

    .site-title {
        float: none;
    }
    .site-title::before {
        display: none;
    }

    a {
        color: $brand-color-dark;
    }
}

.site-footer, .site-header {
    background-color: $brand-background-color;
}

.site-header {
    border-top-color: $brand-color-light;
}

h3.subheading {
    font-size: 1.125rem;
    font-style: italic;
}

h2.highlight {
    font-size: 1.5rem;
}

.highlight {
    background: lighten($brand-color-light, 12%);

    a:link {
        text-decoration: underline;
    }
}

.edition-entry-subheading {
    padding-bottom: 10px;
}
.edition-tagline {
    color: $brand-color;
}

.site-footer {
    padding-top: 15px;
}

.social-media-list li {
    background-color: $background-color;
}

.post-content img {
    border: $spacing-unit solid $image-border-color;
    padding: $spacing-unit / 2;
    width: calc(100% - (#{$spacing-unit} * 3));
}

.site-nav .page-link {
    color: $brand-color-dark;
}